
<head>
    <title>Шаблони - UY3-illia</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>
    <script>uuid();</script>
    <script>
        var prefix="";
        if (document.URL.slice(-1)=='/'){prefix='../'};
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>

<style>
.cell {
    display: table-cell;
    padding: 9px;
}

.tbl {
  display: table;
}
.bgred {
    background-color: red;
}

.bgnormal {
    background-color: transparent;
}
</style>
</head>
<body>
    <h1 align="center">Шаблони - UY3-illia</h1>

    <div id="app">
        <div class="tbl">
                <legal-templates-list-component v-bind:legal-templates.sync="legalTemplates" v-bind:legal-template.sync="legalTemplate" v-bind:tags="tags" v-on:emit-create-legal-template="rootCreateLegalTemplate" v-on:emit-save-legal-template="rootSaveLegalTemplate" v-on:emit-search-by-user-tag="rootSearchByTag($event)" v-on:emit-search-by-tag="rootSearchByTag($event)"></legal-templates-list-component>
                <legal-template-component v-bind:legal-templates.sync="legalTemplates" v-if="legalTemplate.id" v-bind:legal-template="legalTemplate" v-bind:changed.sync="legalTemplate.changed" v-bind:legal-template-description="legalTemplateDescription" v-on:emit-search-by-tag="rootSearchByTag($event)"></legal-template-component>
                <legal-template-variables-component v-if="legalTemplate.id" v-bind:legal-template="legalTemplate" v-bind:legal-template-description="legalTemplateDescription"></legal-template-variables-component>
        </div>
        <br><br> {{ stringifiedAll }}
    </div>

    <script type="text/javascript">
        Vue.component('legal-templates-list-component',{
            props: {
                legalTemplates: Array,
                legalTemplate: Object,
                tags: Array
            },
            data: function() {
                return {
                    curIndex: 0,
                    bntStyleNormal: {'background-color': 'red'},
                    bntStyleChanged: {'background-color': 'red'},
                    userTag:''
                }
            },
            template: '<div class="cell"><h2>Перелік шаблонів</h2><ul>             <li v-for="(oneTemplate, index) in legalTemplates">{{ oneTemplate.title }}             <button @click="openLegalTemplate(index)">Редагувати</button><button @click="saveLegalTemplate">Save</button></li></ul>             <button @click="createLegalTemplate()">Створити новий шаблон</button><br><button @click="saveLegalTemplates()">SaveAll</button><br><hr>            <p><input type="text" v-model="userTag"></p>            <button v-for="(tag, index) in tags" @click="searchByTag(tag)">{{ tag }}</button></div>',
            
            methods:{
                openLegalTemplate: function(index){
                    this.$emit("update:legalTemplate", this.legalTemplates[index]);
                    this.curIndex = index;
                    console.log(this.curIndex, this.legalTemplate);
                },
                createLegalTemplate: function() {
                    this.$emit("emit-create-legal-template")
                },
                saveLegalTemplates: function(){
                    var xhr= new XMLHttpRequest();
                    xhr.open("PUT", (prefix+'api/update'));
                    xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhr.send(JSON.stringify(this.legalTemplates));
                    console.log(this.legalTemplates)
                },
                saveLegalTemplate: function(index){
                    this.$emit("emit-save-legal-template")
                },
                searchByUserTag: function(userTag){
                    this.$emit("emit-search-by-user-tag",this.userTag)
                },
                searchByTag:function(tag){
                        console.log(tag);
                        this.$emit("emit-search-by-tag", tag);
                    },
            },
            watch:{
                userTag:{
                    handler(newUserTag){
                        this.tags=this.tags.find(function(tagInTags){
                            return tagInTags.includes(newUserTag)
                        })
                    }
                }
            }

        })

        Vue.component('legal-template-component', {
            data:function(){
                return{
                    newTag:""
                    }
                },
            props:{
                legalTemplate:Object,
                legalTemplates:Array,
                legalTemplateDescription:Object,
                changed: Boolean
            },
            watch: {
                legalTemplate: {
                    handler(newT, oldT) {
                        if (oldT.id && newT.id == oldT.id) { //real edit
                            if (!newT.changed) {
                                newT.changed = true;
                                console.log("Changed !", JSON.stringify(oldT), JSON.stringify(newT));
                                this.$emit("update:changed", true);
                                this.$emit("update:legalTemplates", this.legalTemplates);
                            }
                        } else {
                            console.log("Template SELECTED");
                        }
                    },
                    deep: true
                }},

            template:'<div class="cell"><h2>Редагування шаблону</h2>                <p>{{  legalTemplateDescription.id  }}:  {{  legalTemplate.id  }}</p>                <p>{{  legalTemplateDescription.title  }}: <input type="text" v-model="legalTemplate.title"></p><p>{{  legalTemplateDescription.type  }}: <input type="text" v-model="legalTemplate.type"></p><p>{{  legalTemplateDescription.pug  }}:<br>                <textarea v-model="legalTemplate.pug"></textarea></p>                <p><ul><li  v-for="(tag, tagIndex) in legalTemplate.tags">{{ tag }}<button @click="searchByTag(tag)">Шукати за тегом</button><button @click="deleteTag(tagIndex)">Видалити тег</button></li></ul></p>                <p><input type="text" v-model="newTag"><button @click="addTemplateTag">Add tag</button></p></div>',
            methods:{
                    addTemplateTag:function(){
                        this.legalTemplate.tags.push(this.newTag);
                        this.newTag="";
                    },
                    searchByTag:function(tag){
                        console.log(tag);
                        this.$emit("emit-search-by-tag", tag);
                    },
                    deleteTag:function(tagIndex){
                        this.legalTemplate.tags.splice(tagIndex, 1)
                    }
            }
        })

        Vue.component('legal-template-variables-component', {
            props:{
                legalTemplate:Object,
                legalTemplateDescription:Object
            },
            template:'<div class="cell"><h2>Задавання змінних</h2><ul><li v-for="(variable, index) in legalTemplate.variables"> Змінна <strong>{{ variable.name }}</strong> шаблону <strong>{{ legalTemplate.name }}</strong><ul><li v-for="(value, name) in variable">{{ legalTemplateDescription.variables[name] }}: <input type="text" v-model="legalTemplate.variables[index][name]"></li></ul></li></ul><button @click="createLegalTemplateVariable">Додати змінну</button></div>',
            methods:{
                createLegalTemplateVariable: function(){
                    this.legalTemplate.variables.push({
                        "id":uuid(),
                        "name":prompt('Введіть назву змінної', ''),
                        "description":"",
                        "type":"string",
                        "testValue":"",
                        "defaultValue":"",
                        "currentValue":"",
                        "required":true
                    })
                },
                saveLegalTemplate: function(index){
                    this.$emit("emit-save-legal-template")
                }
            }
        })

        var vmMain = new Vue({
            el:'#app',
            data:{
                prefix:"",
                legalTemplate:{},
                legalTemplateDescription:{
                    "id":"Унікальний ідентифікатор шаблону",
                    "title":"Назва шаблону",
                    "type":"Тип шаблону",
                    "pug":"pug код шаблону",
                    "variables":{
                        "id":"Унікальний ідентифікатор змінної",
                        "name":"Ім'я змінної",
                        "description":"Опис змінної",
                        "type":"Тип змінної",
                        "testValue":"Значення для тестування",
                        "defaultValue":"Значення за замовчуванням",
                        "currentValue":"Значення в даний момент",
                        "required":"Обов'язковість змінної"
                    }
                },
                // currentIndex:null,
                legalTemplates:[],
                tags:['1Tag1','1Tag2','2Tag1','2Tag2','3Tag1','3Tag2']
            },

            created: function(){
                var xhr= new XMLHttpRequest();
                xhr.open('GET', (prefix+'api/read'))
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState != 4) return;
                    if (xhr.status != 200) {
                        alert(xhr.status + ': ' + xhr.statusText);
                    } else {
                        this.legalTemplates = JSON.parse(xhr.responseText);
                    }
                }.bind(this)
            },
            
            methods:{
                rootCreateLegalTemplate: function() {
                    this.legalTemplates.push({
                        "id":uuid(),
                        "description":"",
                        "title":'',
                        "type":"",
                        "pug":"",
                        "variables":[],
                        "tags":[]
                    });
                    this.legalTemplate=this.legalTemplates[(this.legalTemplates.length-1)]
                },
                rootSaveLegalTemplate: function(index) {
                        delete this.legalTemplate.changed
                        var xhr= new XMLHttpRequest();
                        xhr.open("PUT", (prefix+'api/update'));
                        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        xhr.send('['+JSON.stringify(this.legalTemplate)+']');
                    },
                rootSearchByTag: function(tag){
                    var xhr= new XMLHttpRequest();
                    xhr.open('GET', (prefix+'api/read?tag='+tag))
                    xhr.send();
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState != 4) return;
                        if (xhr.status != 200) {
                            alert(xhr.status + ': ' + xhr.statusText);
                        } else {
                            this.legalTemplates = JSON.parse(xhr.responseText);
                        }
                    }.bind(this)
                }
            },
            computed:{
                stringifiedAll: function() {
                    return JSON.stringify(this.legalTemplates);
                }
            }
        })
    </script>

</body>

