<html>
  <head>
    <title>Шаблони - WebDesign</title>
    <link href="fontawesome/css/style.css" type="text/css" rel="stylesheet" />
    <link href="fontawesome/css/all.css" type="text/css" rel="stylesheet" />
    <script src="js/jquery-3.4.0.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery.fullscreen.min.js"></script>
    <script src="fontawesome/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/node-uuid/1.4.8/uuid.min.js"></script>

    <script>
      uuid(); //
    </script>
    <script>
      var prefix = "";
      if (document.URL.slice(-1) == "/") {
        prefix = "../";
      }
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"
      type="text/javascript"
      charset="utf-8"
    ></script>

    <style>
      .cell {
        display: table-cell;
        padding: 9px;
      }

      .tbl {
        display: table;
      }

      .bgred {
        background-color: red;
      }

      .bgnormal {
        background-color: transparent;
      }

      .formedDocumentContainer {
        border: 2px solid black;
        width: 21cm;
        padding: 5px;
        margin: auto;
        list-style-type: disc;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Шаблони - WebDesign</h1>
    </header>

    <div id="app" v-on:emit-root-read-all="rootReadAll">
      <div class="tbl">
        <legal-templates-list-component
          v-bind:legal-templates.sync="legalTemplates"
          v-bind:legal-template.sync="legalTemplate"
          v-bind:tags="tags"
          v-bind:display-clear-filters="displayClearFilters"
          v-on:emit-create-legal-template="rootCreateLegalTemplate"
          v-on:emit-get-expectations="rootGetExpectations"
          v-on:emit-get-template="rootGetTemplate"
          v-on:emit-save-legal-template="rootSaveLegalTemplates"
          v-on:emit-search-by-user-tag="rootSearchByTag($event)"
          v-on:emit-search-by-tag="rootSearchByTag($event)"
          v-on:emit-read-all="rootReadAll"
          v-on:emit-root-logout-request="rootLogoutRequest"
        ></legal-templates-list-component>
        <legal-template-component
          v-bind:legal-templates.sync="legalTemplates"
          v-if="legalTemplate.id"
          v-bind:legal-template="legalTemplate"
          v-bind:changed.sync="legalTemplate.changed"
          v-bind:legal-template-description="legalTemplateDescription"
          v-bind:expectations="expectations"
          v-bind:expectations-dict="expectationsDict"
          v-on:emit-post-expectation="rootPostExpectation"
          v-on:emit-create-expectation="rootCreateExpectation"
          v-on:emit-search-by-tag="rootSearchByTag($event)"
          v-on:emit-save-legal-template="rootSaveLegalTemplate"
          v-bind:new-expectation-active.sync="newExpectationActive"
          v-bind:created-expectation="createdExpectation"
        >
        </legal-template-component>
        <legal-template-variables-component
          v-if="legalTemplate.id"
          v-bind:legal-template="legalTemplate"
          v-bind:formed-document.sync="formedDocument"
          v-bind:formed-document-active.sync="formedDocumentActive"
          v-bind:stringified-variables-j-s-o-n.sync="stringifiedVariablesJSON"
          v-bind:legal-template-description="legalTemplateDescription"
          v-bind:display-j-s-o-n="displayJSON"
          v-bind:rendered-variables.sync="renderedVariables"
          v-on:root-render-variables="rootRenderVariables"
          v-on:emit-show-hide-document="rootShowHideDocument"
          v-on:emit-form-document="rootFormDocument"
          v-on:emit-display-variables-json="rootDisplayVariablesJSON"
        >
        </legal-template-variables-component>
        <formed-document-component
          v-bind:formed-document.sync="formedDocument"
          v-bind:formed-document-active.sync="formedDocumentActive"
          v-on:emit-show-hide-document="rootShowHideDocument"
          v-if="formedDocumentActive"
        >
        </formed-document-component>
      </div>
    </div>

    <script type="module" src="main.js"></script>
  </body>
</html>
